.login-data-box {
    height: 100%;
    position: relative;
    .login-form {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #ffffff;
        text-align: center;
        padding: .625rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
        border-radius: 5px;
        box-sizing: border-box;
        width: 100%;
        .title {
            color: #808183;
            font-size: 24px;
        }
        .login-input {
            margin-top: 10px;
            
            .login-username {
                border: 1px solid #eeeeee;
            }
            .login-password {
                margin-top: 10px;
                border: 1px solid #eeeeee;
            }
        }
        .login {
            >span {
                color: #ffffff;
            }
        }
    }
    
}