.page404-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.page404-title {
    color: #4778c7;
    font-size: 2.5rem;
}

.page404-desc {
    color: #4778c7;
    font-size: 1.125rem;
}