@import 'reset';

/*清除浮动*/
.clear_fix:after {
    content: '';
    display: block;
    clear: both;
}

/* 强制换行 */
.toWrap{
    word-break: break-all; /* 只对英文起作用，以字母作为换行依据。 */
    word-wrap: break-word; /* 只对英文起作用，以单词作为换行依据。*/
    white-space: pre-wrap; /* 只对中文起作用，强制换行。*/
}
/* 禁止换行 */
.noWrap{
    white-space:nowrap;
}
    
/* 禁止换行,超出省略号 */
.noWrapEllipsis{
    white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
}

/* 文字两端对齐 */
.text-justify{
    text-align:justify;
    text-justify:inter-ideograph;
}